* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #6891e9;
}

.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    min-width: 350px;
}

.container .input_box {
    height: 65px;
    border: none;
    width: 100%;
    position: relative;
}

.container .input_box input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #858282;
    font-size: 1.3rem;
}

::placeholder {
    color: rgb(83, 82, 82);
}

.container .input_box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #5c5a5a;
    cursor: pointer;
    font-size: 18px;
}

.container .content p {
    font-size: 20px;
    margin: 15px 0;

}

.container .content .list li.valid i {
    color: #6891e9;
    font-size: 20px;
}

.container .content .list li.valid span {
    color: #858282;

}


.container .content .list i {
    font-size: 10px;
    color: #858282;
}

.container .content .list li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container .content .list li span {
    margin-left: 10px;
    font-size: 20px;
}